extends layout/main.pug

block body
  h1 로그인
  p: a(href='/auth/facebook') facebook으로 로그인
  p: a(href='/auth/naver') naver으로 로그인
  p: a(href='/auth/google') google으로 로그인
  p: a(href='/auth/kakao') kakao으로 로그인
